.loader {
    position: relative;
    display: "flex"; 
    justify-content: "center";
    align-items: "flex-end";
    padding: "1rem 0rem 1rem";
}
  
.outer,
.middle,
.inner {
    border: 3px solid transparent;
    border-top-color: #1456a0;
    border-right-color: #3a9e62;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}
  
.outer {
    width: 3.5em;
    height: 3.5em;
    margin-left: -1.75em;
    margin-top: -1.75em;
    animation: spin 2s linear infinite;
}
  
.middle {
    width: 2.1em;
    height: 2.1em;
    margin-left: -1.05em;
    margin-top: -1.05em;
    animation: spin 1.75s linear reverse infinite;
}
  
.inner {
    width: 0.8em;
    height: 0.8em;
    margin-left: -0.4em;
    margin-top: -0.4em;
    animation: spin 1.5s linear infinite;
}

@media (max-width:960px) {
    #dialog-waiting{
        width: auto !important;
    }
}
  
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}